body{
    background-color: rgb(32, 32, 133);
}

.card-wrapper{
    width: 18%;
    background-color: #fff;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.card-wrapper .card-image img{
    width: 100%;
}

.card-wrapper .card-title .title{
    color: rgba(0, 0, 255, 0.828);
}

.card-wrapper .card-content{
    color: #555;
}

.card-wrapper .card-content .date{
    display: inline-block;
    margin-top: 10px;
}

.card-wrapper .card-link .link{
    text-decoration: none;
}